{% extends "index.html" %}

{% block body %}
    <h1 class="h3 mb-3 fw-normal">Сотрудник</h1>
    {% if role_id == 1 %}
    <p>Табельный номер: {{ info[0] }}</p>
    <p>Номер паспорта(с серией): {{ info[1] }}</p>
    <p>Имя: {{ info[2] }}</p>
    <p>Фамилия: {{ info[3] }}</p>
    <p>Отчество: {{ info[4] }}</p>
    <p>Телелфон: {{ info[5] }}</p>
    <p>Эл.почта: {{ info[6] }}</p>
    <p>Логин: {{ info[7] }}</p>
    <p>Токен: {{ info[8] }}</p>
    <p>Должность: {{ info[9] }}</p>
    {% else %}
        <p>Табельный номер: {{ info[0] }}</p>
    <p>Номер паспорта(с серией): {{ info[1] }}</p>
    <p>Имя: {{ info[2] }}</p>
    <p>Фамилия: {{ info[3] }}</p>
    <p>Отчество: {{ info[4] }}</p>
    <p>Телелфон: {{ info[5] }}</p>
    <p>Эл.почта: {{ info[6] }}</p>
    <p>Должность: {{ info[7] }}</p>
    {% endif %}

{% endblock %}